<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li> <a href="/myCollection">myCollection</a> </li>
            </ul>

        </nav>
    </header>
    <main>
        <section>
            <% data.forEach(element=>{ %>
                <div>
                    <h1>name:
                        <%= element.name %>
                    </h1>
                    <img src="<%= element.img %>" alt="<%= element.name %>">

                    <a href="/details/<%= element.id %>"><button type="submit">details</button></a>

                </div>

                <% }) %>
        </section>
    </main>
</body>

</html>